/* colours */
:root {
    --primary: #01161e;
    --secondary: #124559;
    --title: #f6f1d1;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #d4d4d450;
}

.bold {
    font-weight: bold;
}

.garis {
    border: 1px #00000040 ridge;
}

/* layout styles */
nav {
    background: var(--primary);
    border-bottom: 4px solid var(--secondary);
}

.navbar-fixed {
    height: 0px;
    margin-bottom: 0;
}

.navbar-fixed nav ul {
    text-align: center;
}

.navbar-fixed nav ul li {
    display: inline;
    float: none;
}

.navbar-fixed nav ul li a {
    display: inline-block;
}

.navbar-fixed nav {
    bottom: 0;
    border-bottom: 0;
}

ul li a.waves-effect:hover {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color: skyblue;
}

nav a {
    color: var(--title);
}

nav li a {
    text-transform: uppercase;
    color: var(--title);
}

.logoFont {
    color: var(--title);
    /* font-family: 'Fascinate', cursive; */
    font-weight: 300;
}

.logoFont span {
    font-weight: 800;
}


/* footer */
.footerColor {
    background-color: var(--primary);
}

.fab {
    color: white;
    font-size: 2.5em;
    margin: 2px;
}

.fab:hover {
    color: skyblue;
}

.spaceIcon {
    padding: 7px;
}

/* Parallax */
.parallax-container {
    height: 250px;
    width: 100%;
}

.parallax img {
    width: 130%;
}

/* Card */
.card:hover {
    background-color: var(--title);
}

.card-image img {
    width: 4rem;
    overflow: hidden;
    padding: 15px;
}

.card-title {
    font-weight: bold !important;
    text-shadow: 2px 2px #ababab;
    /* background-color: #ababab50; */
}

.price {
    font-size: 12px;
    display: inline;
    margin-left: 6px;
}

.due {
    font-size: 12px;
    margin-left: 0px;
}

.realPrice {
    font-size: 18px;
    color: #2A4B63;
    font-weight: bold;
}

/* ABOUT */
.circle {
    width: 30%;
}

blockquote {
    border-left: 5px solid cornflowerblue;
}

/* PRELOADER */
.preloader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.hidden {
    display: none;
}

#leagues a {
    color: black;
}

@media screen and (max-width: 765px) {
    .sm-gone {
        display: none;
    }

    footer {
        margin-bottom: 4.5rem;
    }
}